/* 添加圆形滚动按钮样式 */
.scroll-btn {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    animation: floatingUpAndDown 1.5s ease 0s infinite normal none running;
}

.scroll-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
}

@keyframes floatingUpAndDown {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        opacity: 1;
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        /*transform: translateY(25%);*/
        opacity: .4;
    }
}